<div ng-controller="Mongoquery2Controller as qryCtrl">
<form ng-submit="qryCtrl.submitQuery(query);qryCtrl.setFormSubmitted()">
    <div style="width: 100%; display: table;">
    <div style="vertical-align: center; display: table-cell; height: 100%;">
    <table border=0 frame=void rules=none style="margin: 0 auto;" width="50%" >
    <tr>
        <th style="text-align: center; padding: 10px; "><font size="5">Search MongoDB Collection : {{qryCtrl.collection_name}}</font></th>
    </tr>
    <tr>
        <td style="text-align: center; padding: 10px;"><font size="5">Enter query text:</font></td>
    </tr>
    <tr>
        <td style="text-align: center; padding: 10px;"><font size="4"><textarea type="text" ng-model="query.query_text" rows="16" cols="80"> </textarea></font></td>
    </tr>
    <tr>
        <td style="text-align: center; padding: 10px;"><font size="4"><textarea type="text" ng-model="query.query_text" rows="16" cols="80"> </textarea></font></td>
    </tr>
    <tr>
        <td style="text-align: center; padding: 10px;"><font size="4"><button type="submit">Submit Query</button></font></td>
    </tr>
    </table>
    </div>
    </div>
</form>
<div ng-if="qryCtrl.formsubmitted" style="text-align:center">{{qryCtrl.waitmsg}}</div>
<div ng-if="qryCtrl.loading">
    <div style="width: 100%; display: table;">
    <div style="vertical-align: center; display: table-cell; height: 100%;">
    <table border=1 frame=below rules=rows style="margin: 0 auto;" width="50%" >
    <tr>
        <th style="text-align: center; padding: 10px; ">
            <font size="4">Search result:</font>
            <font size="4"><a id="download-1" href="" ng-click="qryCtrl.downloadResult()">(Download)</a> </font>
        </th>
    </tr>
    <div ng-if="qryCtrl.mongo_result.mongo_result.length > 0" >
        <tr ng-repeat="result in qryCtrl.mongo_result.mongo_result">
            <td style="text-align: center; padding: 10px;">{{ result }}</td>
        </tr>
    </div>
    <tr ng-if="qryCtrl.mongo_result.mongo_result.length == 0" >
        <td style="text-align: center; padding: 10px;">Empty result set!</td>
    </tr>
    </table>
    </div>
    </div>
</div>
</div>
